.wrap{
    background: rgba(0, 0, 0, 0.5) url('.././images/2pic.jpeg') no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
    background-blend-mode: overlay;
    background-attachment: fixed;
}
.content{
    padding: 250px 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}
.content h1{
    font-size: 40px;
    margin-bottom: 20px;
}
.content p{
    font-size: 20px;
    padding: 25px 0;
    font-weight: 300;
}
.content .btn-group{
    margin-top: 45px;
}
.content button{
    display: inline-block;
    padding: 15px 45px;
    text-decoration: none;
    color: #fff;
    border-radius: 50px;
    transition: all 0.5s ease-out;
}
.content button{
    background-color: #b41727;
    margin-right: 10px;
}
.content button:hover{
    transform: scale(1.1);
    cursor: pointer;
}
@media screen and (max-width: 768px){
    .content h1{
        font-size: 35px;
        text-align: center;
        margin-bottom: 5px;
    }
    .content p{
        font-size: 14px;
        text-align: center;
        margin-top: 10px;
    }
    .content .btn-group{
        margin-top: 10px;
    }
}
