footer{
    background: #111;
    height: auto;
    padding: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 25px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 48px;
}
.footer-content p{
    /* min-width: 500px; */
    margin: 10px auto;
    line-height: 20px;
    font-style: 14px;
}
.footer-bottom{
    background: #000;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-style: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
@media screen and (max-width: 768px){
    footer .footer-content h3{
        font-size: 25px;
    }
    footer .footer-content p{
        font-size: 12px;
        
    }
}